header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: teal;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    font-size: larger;
    color: aliceblue;
    padding: 8px;
}
#InputField1 , #InputField2, #InputField3 {
    background-color: azure;
    padding: 8px;
    width: 90%;
    height: 90px;
    font-size: larger;
    margin-left: 5%;
    background-color: rgb(208, 235, 238);
    border-radius: 8px;
    border: solid white
}
p {
    margin-left: 5%;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.teks {
    color: blue;
}
.bawah {
    font-size: larger;
}
h3 {
    margin-left: 5%;
    font-size: larger;
}
hr {
    margin-left: 5%;
    margin-right: 3%;
}
#label1 , #label2 ,#label3 {
    font-size: larger;
    margin-left: 5%;
}
button {
    padding: 10px 10px;
    background-color: rgb(207, 215, 215);
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: medium;
    cursor: pointer;
    border: none;
}
.button {
    text-align: center;
}
button:hover {
    background-color: rgb(188, 194, 194);
}
button:active {
    transform: translateY(3px);
    background-color: rgb(155, 160, 160);
}

